html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    // background: linear-gradient(135deg, rgb(230, 207, 78), rgb(66, 241, 198)) no-repeat;
    background: url('/owl.jpg') no-repeat center top;
    height: 100%;
    overflow: hidden;
    font-family: 'Kiwi Maru', serif;
}

*, *::before, *::after {
    box-sizing: inherit;
}

.center {
    margin-left: 50%;
    transform: translate(-50%)
}

button {
    display: block;
    color: black;
    background: linear-gradient(45deg, rgb(0, 204, 255), rgb(200, 255, 0));
    padding: .5rem 2.5rem;
    border: 2px solid transparent;
    border-radius: 30px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.774);
    transition: all .1s ease-in-out;
    font-family: 'Kiwi Maru', serif;
    font-weight: bold;
    outline: none;
    font-size: 2rem;

    &:hover {
        color: rgb(51, 51, 51);
        cursor: pointer;
        font-size: 1.5rem;
    }
}

img {
    margin-top: 1rem;
    height: 70%;
    border: solid 2px black;
    box-shadow: 0 0 30px black;
}

